<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.apz.datasource.ItemMapper">
	<select id="findStoreItems" resultType="com.github.apz.model.item.Item">
		SELECT
			item_id
			, name
			, update_time
		FROM item

		ORDER BY
			item_id DESC
	</select>

	<insert id="register">
		INSERT INTO
			item
		(name, insert_time, update_time)
		VALUES
		(#{item.name}, #{item.insertTime}, #{item.updateTime})
	</insert>

	<select id="findItem" resultType="com.github.apz.model.item.Item">
		SELECT
			item_id
			, name
		FROM item
		WHERE
			item_id = #{item.itemId}
	</select>

	<update id="updateItem">
		UPDATE
			item
		SET
			name = #{item.name}
			, update_time = #{item.updateTime}
		WHERE
			item_id = #{item.itemId}
	</update>

	<select id="findDeposit" resultType="com.github.apz.model.item.ItemDeposit">
		SELECT
			store_id
			, item_id
		FROM
			store_x_item
		where
			item_id = #{item.itemId}
	</select>
</mapper>