<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.apz.datasource.OperationMapper">
	<insert id="recordItemOperation">
		INSERT INTO
			operation_log
		(model, item_id, store_id, operation_type, hash_code)
		VALUES
		('item', #{item.itemId}, null, #{type.name}, #{hashCode})
	</insert>

	<insert id="recordStoreOperation">
		INSERT INTO
			operation_log
		(model, item_id, store_id, operation_type, hash_code)
		VALUES
		('store', null, #{store.storeId}, #{type.name}, #{hashCode})
	</insert>

	<insert id="recordItemDeposit">
		INSERT INTO
			operation_log
		(model, item_id, store_id, operation_type, hash_code)
		VALUES
		('deposit', #{item.itemId}, #{store.storeId}, #{type.name}, #{hashCode})
	</insert>

	<insert id="recordItemTransfer">
		INSERT INTO
			operation_log
		(model, item_id, store_id, operation_type, hash_code)
		VALUES
		('transfer', #{item.itemId}, #{store.storeId}, #{type.name}, #{hashCode})
	</insert>

	<select id="find" resultType="com.github.apz.model.operation.OperationLog">
		SELECT
			id
			, UPPER(model) model
			, item_id
			, store_id
			, UPPER(operation_type) `type`
			, hash_code
		FROM
			operation_log
		<where>
			<if test="item != null &amp;&amp; item.itemId != null">
			AND item_id = #{item.itemId}
			</if>
			<if test="store != null &amp;&amp; store.storeId != null">
			AND store_id = #{store.storeId}
			</if>
		</where>
		ORDER BY id DESC
	</select>

	<select id="lastInsertId" resultType="long">
		select last_insert_id()
	</select>
</mapper>